// Execution environment for miscellaneous tasks
params.roadie = 'labsyspharm/roadie:2023-03-08'

report.overwrite     = true
apptainer.enabled    = true
apptainer.autoMounts = true
apptainer.runOptions = '-C --unsquash -H "$PWD" -B "$HOME/.keras":"$PWD/.keras"'
params.contPfx       = 'docker://'

// The mode for transfering output between work and project directories
params.publish_dir_mode = 'copy'

process{
  executor = 'slurm'
  queue    = 'cpu-short'
  cpus     = 4
  time     = '6h'
  memory   = '64GB'
}


